[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Perse Permission Settings Manager
Comment=Permission setting manager for udev devices
Exec=pkexec /usr/bin/perse
Terminal=false
Type=Application
StartupNotify=false
Categories=System;Settings;
