Source: perse
Section: admin
Priority: optional
Maintainer: Ville Ranki <ville.ranki@iki.fi>
Build-Depends: debhelper (>= 9), qtbase5-dev, libudev-dev
Standards-Version: 3.9.8
Homepage: https://github.com/vranki/perse

Package: perse
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libudev1, udev, policykit-1
Description: Permission settings manager for USB devices
 GUI for managing USB device permissions using udev framework.

