Source: perse
Section: admin
Priority: extra
Maintainer: Ville Ranki <ville.ranki@iki.fi>
Build-Depends: debhelper (>= 8.1.3), qt5-default, libudev-dev, cdbs (>= 0.4.93~), devscripts
Standards-Version: 3.9.4

Package: perse
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, policykit-1, libudev1
Description: Permission settings manager for USB devices
 GUI for managing USB device permissions using udev framework.

Package: perse-dbg
Section: debug
Priority: extra
Architecture: any
Depends: perse (= ${binary:Version}), ${misc:Depends}
Description: Permission setting manager debug symbols
 Debug symbols for perse.

